<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/antrenor.css') }}">
    <script src="{{ url_for('static', filename='js/antrenor.js') }}"></script>
    <title>Sidebar Example</title>
</head>
<body>

    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="#about" style="font-size: 30px;">Antrenör Paneli</a></li>
                <li><a href="#home">Kişisel Bilgiler</a></li>
                <li><a href="#about">Danışanlarım</a></li>
                <li><a href="#services">Danışanlarla Mesajlaşma</a></li>
            </ul>
        </div>

        <div class="content">
            <!-- Kişisel Bilgiler Formu -->
            <section id="home">
                <h2 style="font-size: 55px;">Kişisel Bilgiler</h2>
                <form method="post" action="/antrenor_bilgi_ekle" enctype="multipart/form-data">
                    <label for="ad">Ad Soyad:</label>
                    <input type="text" id="ad" name="ad" required>

                    <label for="sifre">Şifre:</label>
                    <input type="text" id="sifre" name="sifre" required>


                    <label for="email">E-posta:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="telefon">Telefon:</label>
                    <input type="tel" id="telefon" name="telefon" required>

                    <!-- Danışan Seçimi -->
                    <label for="antrenorSelect">Uzmanlık Alanı:</label>
                    <select id="antrenorSelect" name="uzmanlik">
                        <option value="1">Kilo aldırma</option>
                        <option value="2">kilo verdirme</option>
                        <option value="3">Kilo koruma</option>
                        <option value="4">Kas kazanma</option>
                        <!-- İhtiyacınıza göre danışanları buraya ekleyebilirsiniz -->
                    </select>

                    <!-- Deneyim Seçimi -->
                    <label for="deneyimSelect">Uzmanlık Alanı:</label>
                    <select id="deneyimSelect" name="deneyim">
                        <option value="1">1 Sene</option>
                        <option value="2">2 Sene</option>
                        <option value="3">3 Sene</option>
                        <option value="4">4 Sene</option>
                        <!-- İhtiyacınıza göre danışanları buraya ekleyebilirsiniz -->
                    </select>

                    <input type="submit" class="mor-arkaplan" value="Bilgileri Kaydet">
                </form>
            </section>

            <div>
                <!-- Egzersiz ve Beslenme Bilgileri -->
                <section id="about">
                    <h2 style="font-size: 55px;">Danışanlarım</h2>

                    <select id="ogrenciler" name="ogrenciler">
                        {% for ogrencilerim in danisan_adi_listesi %}
                            <option value="{{ ogrencilerim[0] }}">{{ ogrencilerim[0] }}</option>
                        {% endfor %}
                    </select>

                   <input type="submit" style="font-size: 20px;" class="mor-arkaplan" value="Bilgileri Goster" id="showInfoButton">

                     <div class="student-container" id="studentInfo">
                        <h3 style="font-size: 25px;">Danışan Bilgileri</h3>
                        <img src="https://via.placeholder.com/150" alt="Öğrenci Fotoğrafı" id="studentPhoto">
                        <table>
                            <tr>
                                <th>Özellik</th>
                                <th>Değer</th>
                            </tr>
                            <tr>
                                <td>Adı Soyadı</td>
                                <td id="studentName"></td>
                            </tr>
                            <tr>
                                <td>Ağırlık</td>
                                <td id="studentWeight"></td>
                            </tr>
                            <tr>
                                <td>Boy</td>
                                <td id="studentHeight"></td>
                            </tr>
                            <tr>
                                <td>Kas Kütlesi</td>
                                <td id="muscleMass"></td>
                            </tr>
                            <tr>
                                <td>Yağ Oranı</td>
                                <td id="bodyFat"></td>
                            </tr>
                            <tr>
                                <td>Kütle İndeksi</td>
                                <td id="bmi"></td>
                            </tr>
                            <tr>
                                <td>Beslenme Hedefi</td>
                                <td id="goal"></td>
                            </tr>
                            <tr>
                                <td>Sabah Yemeği</td>
                                <td id="breakfast"></td>
                            </tr>
                            <tr>
                                <td>Öğle Yemeği</td>
                                <td id="lunch"></td>
                            </tr>
                            <tr>
                                <td>Akşam Yemeği</td>
                                <td id="dinner"></td>
                            </tr>
                            <tr>
                                <td>Öğün Sayısı</td>
                                <td id="mealCount"></td>
                            </tr>
                            <tr>
                                <td>Kalori Hedefi</td>
                                <td id="calorieGoal"></td>
                            </tr>
                            <tr>
                                <td>Egzersiz Adı</td>
                                <td id="calorieGoal1"></td>
                            </tr>
                            <tr>
                                <td>Egzersiz Hedefi</td>
                                <td id="calorieGoal2"></td>
                            </tr>
                            <tr>
                                <td>Program Başlangıç Tarihi</td>
                                <td id="calorieGoal3"></td>
                            </tr>
                            <tr>
                                <td>Program Süresi</td>
                                <td id="calorieGoal4"></td>
                            </tr>

                        </table>
                    </div>

                </section>
            </div>

            <div>
                <section id="services">
                    <h2 style="font-size: 55px;">Danışanla Mesajlaşma</h2>
                    <div class="mesajlar" id="mesajlar">
                        <!-- Mesajlar buraya eklenecek -->
                    </div>
                    <div class="mesaj-gonder-formu">
                        <label for="mesaj">Mesajınız:</label>
                        <textarea id="mesaj" rows="4" cols="50"></textarea>
                        <button onclick="gonderMesaj()">Gönder</button>
                    </div>
                </section>
            </div>
            </div>
            </div>
    </div>

    <script>
        document.getElementById('showInfoButton').addEventListener('click', function () {
            console.log('Butona tıklandı.');  // Konsola mesaj yazdır

           var danisanIndex = document.getElementById('ogrenciler').value;

            fetch('/get_student_info', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded', // Değiştirildi
                },
                body: 'danisanIndex=' + danisanIndex, // Değiştirildi
            })
            .then(response => response.json())
            .then(data => {
                console.log('Veri çekildi:', data);  // Konsola veriyi yazdır

                // JSON'dan gelen verileri kullanarak HTML içeriğini güncelle
                document.getElementById('studentName').innerText = data.danisan_adi;
                document.getElementById('studentWeight').innerText = data.kilo;
                document.getElementById('studentHeight').innerText = data.boy;
                document.getElementById('muscleMass').innerText = data.kas_kutlesi;
                document.getElementById('bodyFat').innerText = data.yag_orani;
                document.getElementById('bmi').innerText = data.kitle_index;
                document.getElementById('goal').innerText = data.hedef;
                document.getElementById('breakfast').innerText = data.sabah;
                document.getElementById('lunch').innerText = data.ogle;
                document.getElementById('dinner').innerText = data.aksam;
                document.getElementById('mealCount').innerText = data.gunluk_ogunler;
                document.getElementById('calorieGoal').innerText = data.kalori_hedefi;
                document.getElementById('calorieGoal1').innerText = data.egzersiz_adi;
                document.getElementById('calorieGoal2').innerText = data.hedefleri;
                document.getElementById('calorieGoal3').innerText = data.program_baslangicT;
                document.getElementById('calorieGoal4').innerText = data.program_sure;
            })
            .catch(error => {
                console.error('Veri çekilirken hata oluştu:', error);
            });
        });

    </script>
</body>
</html>
