body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

.sidebar {
    position: fixed;
    width: 15%;
    background-color: #333;
    padding: 20px;
    color: #fff;
    height: 100vh;
}

.sidebar h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 10px;
    margin-top: 20px;
}

.sidebar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #555;
}

.sidebar li {
    margin-bottom: 10px;
}

.content {
    width: 80%;
    padding: 20px;
    margin-left: 20%;
}

form {
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: purple;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}



.sidebar a:hover {
    background-color: #555;
}

label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.sidebar a:hover {
    background-color: #555;
}



.content {
    width: 80%;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

.beslenme-bilgileri,
.egzersiz-bilgileri {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.egzersiz {
    margin-top: 20px;
}

#mesajlar {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.mesaj-gonder-formu {
    display: flex;
    flex-direction: column;
}

textarea {
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: purple;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
}


select {
    padding: 10px;
    margin-bottom: 20px;
}

.student-container {
    text-align: center;
}

.student-info {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}